<div *ngIf="Film|async as Film">
    <div class="card" >
        <div class="card-body">
        <h5 class="card-title">{{Film.title}}</h5>
            <table  class="table table-striped table-bordered table-hover">
                <tr>
                    <th>episode_id</th>
                    <td>{{Film.episode_id}}</td>
                </tr>
                <tr>
                    <th>opening_crawl</th>
                    <td>{{Film.opening_crawl}}</td>
                </tr>
                <tr>
                    <th>director</th>
                    <td>{{Film.director}}</td>
                </tr>
                <tr>
                    <th>producer</th>
                    <td>{{Film.producer}}</td>
                </tr>
                <tr>
                    <th>release_date</th>
                    <td>{{Film.release_date}}</td>
                </tr>
                <tr>
                    <th>characters</th>
                    <td>
                        <ul>                            
                            <li *ngFor="let character of Film.characters">
                                <a class="nav-link handMouse" [routerLink]="['../../people',character]" routerLinkActive="router-link-active">{{character}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>      
                <tr>
                    <th>planets</th>
                    <td>
                        <ul>                            
                            <li *ngFor="let planet of Film.planets">
                                <a class="nav-link handMouse" [routerLink]="['../../planets',planet]" routerLinkActive="router-link-active">{{planet}}</a>  
                            </li>
                        </ul>
                    </td>
                </tr>                
            </table>
        
        </div>
    </div>
</div>


