<div *ngIf="Specie|async as Specie">
    <div class="card" >
        <div class="card-body">
        <h5 class="card-title">{{Specie.name}}</h5>
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>skin_colors</th>
                    <td>{{Specie.skin_colors}}</td>
                </tr>
                <tr>
                    <th>language</th>
                    <td>{{Specie.language}}</td>
                </tr>
                <tr>
                    <th>homeworld</th>
                    <td>{{Specie.homeworld}}</td>
                </tr>
                <tr>
                    <th>hair_colors</th>
                    <td>{{Specie.hair_colors}}</td>
                </tr>
                <tr>
                    <th>eye_colors</th>
                    <td>{{Specie.eye_colors}}</td>
                </tr>
                <tr>
                    <th>designation</th>
                    <td>{{Specie.designation}}</td>
                </tr>
                <tr>
                    <th>classification</th>
                    <td>{{Specie.classification}}</td>
                </tr>
                <tr>
                    <th>average_lifespan</th>
                    <td>{{Specie.average_lifespan}}</td>
                </tr>
                <tr>
                    <th>average_height</th>
                    <td>{{Specie.average_height}}</td>
                </tr>
               
                <tr>
                    <th>peoples</th>
                    <td>
                        <ul>
                            <li *ngFor="let people of Specie.people">
                                <a class="nav-link handMouse" [routerLink]="['../../people',people]" routerLinkActive="router-link-active">{{people}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>      
                <tr>
                    <th>films</th>
                    <td>
                        <ul>
                            <li *ngFor="let film of Specie.films">
                                <a class="nav-link handMouse" [routerLink]="['../../films',film]" routerLinkActive="router-link-active">{{film}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>  
            </table>        
        </div>
    </div>
</div>


