<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['films']" routerLinkActive="router-link-active">films</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['starships']" routerLinkActive="router-link-active">starships</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" [routerLink]="['planets']" routerLinkActive="router-link-active">planets</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" [routerLink]="['people']" routerLinkActive="router-link-active">people</a>
        </li>  
        <li class="nav-item dropdown">
          <a class="nav-link" [routerLink]="['planets']" routerLinkActive="router-link-active">planets</a>
        </li>  
        <li class="nav-item dropdown">
          <a class="nav-link" [routerLink]="['species']" routerLinkActive="router-link-active">species</a>
        </li>   
        <li class="nav-item dropdown">
          <a class="nav-link" [routerLink]="['vehicles']" routerLinkActive="router-link-active">vehicles</a>
        </li>   
        <li class="nav-item dropdown">
          <a class="nav-link btn" (click)="Back()">Back</a>
        </li>       
      </ul>
    </div>
  </nav>
  