<div>
    <h1>Vehicles</h1>
    <table  class="table table-striped table-bordered table-hover">
        <thead>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">model</th>
            <th scope="col">cost_in_credits</th>
            <th scope="col">manufacturer</th>
            <th scope="col">Url</th>
        </thead>
        <tbody>
            <tr *ngFor="let vehicle of Vehicles|async" (click)="FindShip(vehicle.id)">
                <td>{{vehicle.id}}</td>
                <td>
                    {{vehicle.name}}
                </td>
                <td>
                    {{vehicle.model}}
                </td>
                <td>
                    {{vehicle.cost_in_credits}}
                </td>
                <td>
                    {{vehicle.manufacturer}}
                </td>
                <td>
                    {{vehicle.url}}
                </td>
            </tr>
        </tbody>
    </table>
    <app-pagination [total]="(total | async)" [service]="vehicleService"></app-pagination>
   
</div>
