
<div *ngIf="People|async as People">
    <div class="card" >
        <div class="card-body">
        <h5 class="card-title">{{People.name}}</h5>
            <table  class="table table-striped table-bordered table-hover">
                <tr>
                    <th>skin_color</th>
                    <td>{{People.skin_color}}</td>
                </tr>
                <tr>
                    <th>mass</th>
                    <td>{{People.mass}}</td>
                </tr>
                <tr>
                    <th>homeworld</th>
                    <td>{{People.homeworld}}</td>
                </tr>
                <tr>
                    <th>height</th>
                    <td>{{People.height}}</td>
                </tr>
                <tr>
                    <th>hair_color</th>
                    <td>{{People.hair_color}}</td>
                </tr>
                <tr>
                    <th>gender</th>
                    <td>{{People.gender}}</td>
                </tr>
                <tr>
                    <th>eye_color</th>
                    <td>{{People.eye_color}}</td>
                </tr>
                <tr>
                    <th>birth_year</th>
                    <td>{{People.birth_year}}</td>
                </tr>
             
                <tr>
                    <th>vehicles</th>
                    <td>
                        <ul>
                            <li *ngFor="let vehicle of People.vehicles">
                                <a class="nav-link handMouse" [routerLink]="['../../vehicles',vehicle]" routerLinkActive="router-link-active">{{vehicle}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>      
                <tr>
                    <th>films</th>
                    <td>
                        <ul>
                            <li *ngFor="let film of People.films">
                                <a class="nav-link handMouse" [routerLink]="['../../films',film]" routerLinkActive="router-link-active">{{film}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>     
                <tr>
                    <th>species</th>
                    <td>
                        <ul>
                            <li *ngFor="let specie of People.species">
                                <a class="nav-link handMouse" [routerLink]="['../../species',specie]" routerLinkActive="router-link-active">{{specie}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>      
                <tr>
                    <th>starships</th>
                    <td>
                        <ul>
                            <li *ngFor="let starship of People.starships">
                                <a class="nav-link handMouse" [routerLink]="['../../starships',starship]" routerLinkActive="router-link-active">{{starship}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>     
            </table>
        
        </div>
    </div>
</div>


