<div>
    <h1>Planets</h1>
    <table  class="table table-striped table-bordered table-hover">
        <thead>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">climate</th>
            <th scope="col">diameter</th>
            <th scope="col">gravity</th>
            <th scope="col">Url</th>
        </thead>
        <tbody>
            <tr *ngFor="let planet of Planets|async" (click)="FindShip(planet.id)">
                <td>{{planet.id}}</td>
                <td>
                    {{planet.name}}
                </td>
                <td>
                    {{planet.climate}}
                </td>
                <td>
                    {{planet.diameter}}
                </td>
                <td>
                    {{planet.gravity}}
                </td>
                <td>
                    {{planet.url}}
                </td>
            </tr>
        </tbody>
    </table>
    <app-pagination [total]="(total | async)" [service]="planetsService"></app-pagination>
  
    
</div>
