

<div>
    <div class="card" >
        <img class="card-img-top" src="./../../../assets/fb_faucon-millenium.jpg" alt="Card image cap" width="300px" height="500px">
        <div class="card-body">       
        <h1 class="card-title">Star Wars Datas</h1>
        <div>
            <h1>Links</h1>
            <table  class="table table-striped table-bordered table-hover">
                <thead>
                    <th scope="col">Name</th>
                    <th scope="col">url</th>           
                </thead>
                <tbody>           
                    <tr *ngFor="let link of links|async" >
                        <td>
                            {{link.name}}
                        </td>
                        <td>
                            {{link.url}}
                        </td>                
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>

