<div>
    <h1>Starships</h1>
    <table  class="table table-striped table-bordered table-hover">
        <thead>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Model</th>
            <th scope="col">Cost</th>
            <th scope="col">Crew</th>
            <th scope="col">Url</th>
        </thead>
        <tbody>
            <tr *ngFor="let ship of Ships|async" (click)="FindShip(ship.id)">
                <th>{{ship.id}}</th>
                <td>
                    {{ship.name}}
                </td>
                <td>
                    {{ship.model}}
                </td>
                <td>
                    {{ship.cost_in_credits}}
                </td>
                <td>
                    {{ship.crew}}
                </td>
                <td>
                    {{ship.url}}
                </td>
            </tr>
        </tbody>
    </table>
    <app-pagination [total]="(total | async)" [service]="shipsService"></app-pagination>
   
</div>
