
<div *ngIf="Ship|async as ship">
    <div class="card" >
        <div class="card-body">
        <h5 class="card-title">{{ship.name}}</h5>
            <table  class="table table-striped table-bordered table-hover">
                <tr>
                    <th>model</th>
                    <td>{{ship.model}}</td>
                </tr>
                <tr>
                    <th>manufacturer</th>
                    <td>{{ship.manufacturer}}</td>
                </tr>
                <tr>
                    <th>cost_in_credits</th>
                    <td>{{ship.cost_in_credits}}</td>
                </tr>
                <tr>
                    <th>length</th>
                    <td>{{ship.length}}</td>
                </tr>
                <tr>
                    <th>max_atmosphering_speed</th>
                    <td>{{ship.max_atmosphering_speed}}</td>
                </tr>
                <tr>
                    <th>crew</th>
                    <td>{{ship.crew}}</td>
                </tr>
                <tr>
                    <th>passengers</th>
                    <td>{{ship.passengers}}</td>
                </tr>
                <tr>
                    <th>cargo_capacity</th>
                    <td>{{ship.cargo_capacity}}</td>
                </tr>
                <tr>
                    <th>consumables</th>
                    <td>{{ship.consumables}}</td>
                </tr>
                <tr>
                    <th>hyperdrive_rating</th>
                    <td>{{ship.hyperdrive_rating}}</td>
                </tr>
                <tr>
                    <th>characters</th>
                    <td>
                        <ul>
                            <li *ngFor="let pilot of ship.pilots">
                                <a class="nav-link handMouse" [routerLink]="['../../people',pilot]" routerLinkActive="router-link-active">{{pilot}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>      
                <tr>
                    <th>films</th>
                    <td>
                        <ul>
                            <li *ngFor="let film of ship.films">
                                <a class="nav-link handMouse" [routerLink]="['../../films',film]" routerLinkActive="router-link-active">{{film}}</a>  
                            </li>
                        </ul>
                    </td>
                </tr>     
            </table>
        
        </div>
    </div>
</div>


