<div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="total?total:0" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="30">30 items per page</option>
    </select>
 </div>
