
<div>
    <h1>Films</h1>
    <table  class="table table-striped table-bordered table-hover">
        <thead>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">opening_crawl</th>
            <th scope="col">director</th>
            <th scope="col">producer</th>
            <th scope="col">Url</th>
            <th scope="col">release_date</th>
        </thead>
        <tbody>
            <tr *ngFor="let film of films|async" (click)="FindShip(film.id)">
                <td>{{film.id}}</td>
                <td>
                    {{film.title}}
                </td>
                <td>
                    {{film.opening_crawl}}
                </td>
                <td>
                    {{film.director}}
                </td>
                <td>
                    {{film.producer}}
                </td>
                <td>
                    {{film.url}}
                </td>
                <td>{{film.release_date}}</td>
            </tr>
        </tbody>
    </table>
    <app-pagination [total]="(total | async)" [service]="filmsService"></app-pagination>
    
</div>
