<div>
    <h1>Peoples</h1>
    <table  class="table table-striped table-bordered table-hover">
        <thead>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">homeworld</th>
            <th scope="col">gender</th>
            <th scope="col">skin_color</th>
            <th scope="col">Url</th>
        </thead>
        <tbody>
            <tr *ngFor="let people of Peoples|async" (click)="FindShip(people.id)">
                <td>{{people.id}}</td>
                <td>
                    {{people.name}}
                </td>
                <td>
                    {{people.homeworld}}
                </td>
                <td>
                    {{people.gender}}
                </td>
                <td>
                    {{people.skin_color}}
                </td>
                <td>
                    {{people.url}}
                </td>
            </tr>
        </tbody>
    </table>
    <app-pagination [total]="(total | async)" [service]="peopleService"></app-pagination>
</div>
