<div>
    <h1>Species</h1>
    <table  class="table table-striped table-bordered table-hover">
        <thead>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">classification</th>
            <th scope="col">homeworld</th>
            <th scope="col">language</th>
            <th scope="col">Url</th>
        </thead>
        <tbody>
            <tr *ngFor="let specie of Species|async" (click)="FindShip(specie.id)">
                <td>{{specie.id}}</td>
                <td>
                    {{specie.name}}
                </td>
                <td>
                    {{specie.classification}}
                </td>
                <td>
                    {{specie.homeworld}}
                </td>
                <td>
                    {{specie.language}}
                </td>
                <td>
                    {{specie.url}}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="(total | async)!" [(page)]="speciesService.page" [pageSize]="speciesService.pageSize">
        </ngb-pagination>
    
        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="speciesService.pageSize">
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="20">20 items per page</option>
          <option [ngValue]="30">30 items per page</option>
        </select>
     </div>
</div>
