<div *ngIf="Planet|async as Planet">
    <div class="card" >
        <div class="card-body">
        <h5 class="card-title">{{Planet.name}}</h5>
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>climate</th>
                    <td>{{Planet.climate}}</td>
                </tr>
                <tr>
                    <th>diameter</th>
                    <td>{{Planet.diameter}}</td>
                </tr>
                <tr>
                    <th>gravity</th>
                    <td>{{Planet.gravity}}</td>
                </tr>
                <tr>
                    <th>orbital_period</th>
                    <td>{{Planet.orbital_period}}</td>
                </tr>
                <tr>
                    <th>population</th>
                    <td>{{Planet.population}}</td>
                </tr>
                <tr>
                    <th>rotation_period</th>
                    <td>{{Planet.rotation_period}}</td>
                </tr>
                <tr>
                    <th>surface_water</th>
                    <td>{{Planet.surface_water}}</td>
                </tr>
                <tr>
                    <th>terrain</th>
                    <td>{{Planet.terrain}}</td>
                </tr>
           
                <tr>
                    <th>residents</th>
                    <td>
                        <ul>
                            <li *ngFor="let resident of Planet.residents">
                                <a class="nav-link handMouse" [routerLink]="['../../people',resident]" routerLinkActive="router-link-active">{{resident}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>      
                <tr>
                    <th>films</th>
                    <td>
                        <ul>
                            <li *ngFor="let film of Planet.films">
                                <a class="nav-link handMouse" [routerLink]="['../../films',film]" routerLinkActive="router-link-active">{{film}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>  
            </table>
        
        </div>
    </div>
</div>


