<div *ngIf="Vehicle|async as Vehicle">
    <div class="card" >
        <div class="card-body">
        <h5 class="card-title">{{Vehicle.name}}</h5>
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>model</th>
                    <td>{{Vehicle.model}}</td>
                </tr>
                <tr>
                    <th>manufacturer</th>
                    <td>{{Vehicle.manufacturer}}</td>
                </tr>
                <tr>
                    <th>cost_in_credits</th>
                    <td>{{Vehicle.cost_in_credits}}</td>
                </tr>
                <tr>
                    <th>length</th>
                    <td>{{Vehicle.length}}</td>
                </tr>
                <tr>
                    <th>max_atmosphering_speed</th>
                    <td>{{Vehicle.max_atmosphering_speed}}</td>
                </tr>
                <tr>
                    <th>crew</th>
                    <td>{{Vehicle.crew}}</td>
                </tr>
                <tr>
                    <th>passengers</th>
                    <td>{{Vehicle.passengers}}</td>
                </tr>
                <tr>
                    <th>cargo_capacity</th>
                    <td>{{Vehicle.cargo_capacity}}</td>
                </tr>
                <tr>
                    <th>consumables</th>
                    <td>{{Vehicle.consumables}}</td>
                </tr>
                <tr>
                    <th>vehicle_class</th>
                    <td>{{Vehicle.vehicle_class}}</td>
                </tr>
                
                <tr>
                    <th>pilots</th>
                    <td>
                        <ul>
                            <li *ngFor="let pilot of Vehicle.pilots">
                                <a class="nav-link handMouse" [routerLink]="['../../people',pilot]" routerLinkActive="router-link-active">{{pilot}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>      
                <tr>
                    <th>films</th>
                    <td>
                        <ul>
                            <li *ngFor="let film of Vehicle.films">
                                <a class="nav-link handMouse" [routerLink]="['../../films',film]" routerLinkActive="router-link-active">{{film}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>  
            </table>
        
        </div>
    </div>
</div>


